
ThirdQuest/.idea/workspace.xml
address-dook-web-tests/build
address-dook-web-tests/.gradle
address-dook-web-tests/.idea
address-book-web-tests/.gradle/6.1/executionHistory/executionHistory.bin
address-book-web-tests/build/test-results/test/TEST-ru.stqa.pft.addressbook.tests.ContactCreationTest.xml
address-book-web-tests/build/test-results/test/binary/results.bin
address-book-web-tests/build/test-results/test/binary/output.bin.idx
address-book-web-tests/build/test-results/test/binary/output.bin
address-book-web-tests/build/reports/tests/test/packages/ru.stqa.pft.addressbook.tests.html
address-book-web-tests/build/reports/tests/test/index.html
address-book-web-tests/build/reports/tests/test/classes/ru.stqa.pft.addressbook.tests.ContactCreationTest.html
address-book-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/appmanager/ContactHelper.class
address-book-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/appmanager/ApplicationManager.class
address-book-web-tests/.gradle/buildOutputCleanup/buildOutputCleanup.lock
address-book-web-tests/.gradle/6.1/javaCompile/javaCompile.lock
address-book-web-tests/.gradle/6.1/javaCompile/classAnalysis.bin
address-book-web-tests/.gradle/6.1/fileHashes/fileHashes.lock
address-book-web-tests/.gradle/6.1/fileHashes/fileHashes.bin
address-book-web-tests/.gradle/6.1/executionHistory/executionHistory.lock
address-book-web-tests/.gradle/6.1/executionHistory/executionHistory.bin
